body{
  margin:0;
  font-family:Arial;
  background:#2563eb;
}
.top{
  background:#1e40af;
  color:#fff;
  padding:15px;
  display:flex;
  align-items:center;
}
.main-logo{width:40px;margin-right:10px}
.card{
  background:#fff;
  max-width:420px;
  margin:30px auto;
  padding:20px;
  border-radius:14px;
}
input,select,button{
  width:100%;
  padding:10px;
  margin-top:10px;
}
button{
  background:#2563eb;
  color:#fff;
  border:none;
  border-radius:8px;
  cursor:pointer;
}
.pay-logo{
  display:none;
  width:120px;
  margin:10px auto;
}
